{
  admin off
}

# WG-Easy Web UI
http://vpn.lab.local {
  reverse_proxy wg-easy:51821
}

# Pi-hole Admin
http://pihole.lab.local {
  reverse_proxy pihole:80
}

# Dashboard
http://dashboard.lab.local {
  reverse_proxy dashboard:5173
}

# Home Assistant
http://ha.lab.local {
  reverse_proxy homeassistant:8123
}


# Portainer
http://portainer.lab.local {
  reverse_proxy portainer:9000
}

# Code Server
http://code.lab.local {
  reverse_proxy code-server:8443
}

# FileBrowser
http://files.lab.local {
  reverse_proxy filebrowser:80
}
